- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}
      #banner-bottom



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Jerald K. Graber
          %h3
            Attorney at Law
            %br
            Board Certified Criminal Lawyer
          %p 
            917 Franklin, Suite 510
            %br
            Houston, Texas  77002
          %p
            713-224-2323
            %br
            713-227-9900 (fax)
            %br
            713-202-3322 (cell)
            %br
            %a{:href => "mailto:graberlaw@sbcglobal.net"}graberlaw@sbcglobal.net
      

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Contact Us
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "405", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p0z1/", :width => "100%", :border => "none"}       
