- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      .text-box
        %h1 Contact
        %p Steadfast's headquarters is located in Houston, TX.
        %p For further information on Steadfast services please contact us at:
        %p
          Steadfast Medical Management
          %br
          1701 Hermann Dr.
          %br
          Houston, Texas 77004
        %p
          Telephone: 713 392 1617
          %br
          Fax:
          %br
          Email: 
          %a{:href =>"mailto:info@steadfastmed.com"}info@steadfastmed.com