- @sub0 = ["Attorney Profile", "/profile"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}
      #banner-bottom



.body
  .center
    .content
      #two.sidebar.right
        .text
          %h1 Jerald K. Graber
          %h3
            Attorney at Law
            %br
            Board Certified Criminal Lawyer
          %p 
            917 Franklin, Suite 510
            %br
            Houston, Texas  77002
          %p
            713-224-2323
            %br
            713-227-9900 (fax)
            %br
            713-202-3322 (cell)
            %br
            %a{:href => "mailto:graberlaw@sbcglobal.net"}graberlaw@sbcglobal.net
      

      #two.main
        .content
          %a{:name => @sub0[1]}
          .section
            %img{:src => "images/two-1.jpg"}
            %h1=@sub0[0]
            %p Jerald Graber is a native Houstonian.  He attended HISD schools and graduated from the University of Texas and the University of Houston Law Center.  After learning the ropes of criminal law as a Harris County Assistant District Attorney, Jerald opened his own practice to represent accused individuals.  He and his family live in Houston.
            %p
              %b Legal Experience
              %br
              &mdash;	1999 to present
              %br
              Attorney in private practice
              %br
              &mdash;	1991-1999
              %br
              Harris County District Attorney's Office
              %br
              Assistant District Attorney, Trial Bureau and Special Crimes Bureau

            %p
              %b Education
              %br
              &mdash;	University of Houston Law Center (J.D., 1991)
              %br
              &mdash;	University of Texas at Austin (B.B.A., 1987)

            %p
              %b Bar Admissions
              %br
              &mdash;	State Bar of Texas
              %br
              &mdash;	Numerous Federal District Courts

            %p
              %b Certifications
              %br
              &mdash;	Board Certified in Criminal Law by the Texas Board of Legal Specialization
              %br
              &mdash;	Certified as Counsel in Death Penalty Cases by the Second Administrative Judicial Region of Texas

            %p
              %b Memberships
              %br
              &mdash;	National Association of Criminal Defense Lawyers
              %br
              &mdash;	Texas Criminal Defense Lawyers Association
              %br
              &mdash;	Harris County Criminal Lawyers Association
              