- @sub0 = ["Law Practice", "/law"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}
      #banner-bottom



.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Jerald K. Graber
          %h3
            Attorney at Law
            %br
            Board Certified Criminal Lawyer
          %p 
            917 Franklin, Suite 510
            %br
            Houston, Texas  77002
          %p
            713-224-2323
            %br
            713-227-9900 (fax)
            %br
            713-202-3322 (cell)
            %br
            %a{:href => "mailto:graberlaw@sbcglobal.net"}graberlaw@sbcglobal.net
      

      .main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p Jerald Graber practices adult and juvenile criminal defense law.  He handles criminal cases at every stage in the State of Texas and Federal Courts.  
            %p Jerald is well-respected by judges, prosecutors, and other criminal defense attorneys.  He frequently speaks at criminal continuing legal education seminars, and he has been hired by other criminal defense attorneys for his expertise and knowledge of complex legal issues.   
            %p While his practice is centered in Harris County, he frequently represents clients in surrounding counties, such as Fort Bend, Montgomery, Brazoria, Galveston, and many other counties throughout Texas.
            %p
              %b Trials
              &ndash; Tried over 100 jury trials, including DWI, theft, assault and murder
            %p
              %b Appeals
              &ndash; Appealed over 50 felony cases that were tried by other attorneys
            %p
              %b Criminal Investigations
              &ndash; Conducted investigations ranging from sexual assault and homicide to environmental crimes, white-collar fraud and theft
            %p
              %b Probation Revocations and Modifications
            %p
              %b Expunctions, Petitions for Non-Disclosure, and Motions to Seal
