.font-helvetica, .main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times, .font-base, .subnav h3, .text h3, .img h3, .button h3, .form h3, .link, .text p, .img p, .main .content .section p, .main .content .main p, .main .content .section ul, .main .content .main ul {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.font-trajan, .subnav h1, .text h1, .img h1, .button h1, .form h1, .main .content .section h1, .main .content .main h1 {
  font-family: "Trajan Pro", "Trajan", "Georgia", "Times New Roman", times, serif;
}

.bg-gradient-primary, .button p.link, .main .content .section img, .main .content .main img {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#b56c24), to(#603913));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #b56c24, #603913);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse, .button p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#603913), to(#b56c24));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #603913, #b56c24);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ac7e58), to(#8c6545));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ac7e58, #8c6545);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
}

.corner-top-left, .banner .center .content img.banner {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top, .subnav h1, .text h1, .img h1, .button h1, .form h1, .subnav h3, .text h3, .img h3, .button h3, .form h3, .img img {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .link h5, .button p.link, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .img, .button, .form {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.clearfix, .body, .body .center, .sidebar, .link, .main .content .section, .main .content .main, .container-setup, .subnav, .text, .img, .button, .form, .columns, .spacer {
  zoom: 1;
}
.clearfix:before, .body:before, .body .center:before, .sidebar:before, .link:before, .main .content .section:before, .main .content .main:before, .container-setup:before, .subnav:before, .text:before, .img:before, .button:before, .form:before, .columns:before, .spacer:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .body:after, .body .center:after, .sidebar:after, .link:after, .main .content .section:after, .main .content .main:after, .container-setup:after, .subnav:after, .text:after, .img:after, .button:after, .form:after, .columns:after, .spacer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .banner .center, .body .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}

.box, .center-container, .banner .center, .body .center, .banner, .banner .center .content img.banner, .body, .sidebar, .subnav h1, .text h1, .img h1, .button h1, .form h1, .subnav h3, .text h3, .img h3, .button h3, .form h3, .link, .link p, .text p, .img p, .button p.link, .img img, .main, .main .content, .main .content .section, .main .content .main, .main .content .section img, .main .content .main img, .main .content .section h1, .main .content .main h1, .main .content .section p, .main .content .main p, .main .content .section ul, .main .content .main ul, .main .content .section ul li, .main .content .main ul li, .container-setup, .subnav, .text, .img, .button, .form {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form, .form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe, .form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: black !important;
  font-weight: bold;
}

.font-helvetica, .main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times, .font-base, .subnav h3, .text h3, .img h3, .button h3, .form h3, .link, .text p, .img p, .main .content .section p, .main .content .main p, .main .content .section ul, .main .content .main ul {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.font-trajan, .subnav h1, .text h1, .img h1, .button h1, .form h1, .main .content .section h1, .main .content .main h1 {
  font-family: "Trajan Pro", "Trajan", "Georgia", "Times New Roman", times, serif;
}

.bg-gradient-primary, .button p.link, .main .content .section img, .main .content .main img {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#b56c24), to(#603913));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #b56c24, #603913);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse, .button p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#603913), to(#b56c24));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #603913, #b56c24);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ac7e58), to(#8c6545));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #ac7e58, #8c6545);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
}

.corner-top-left, .banner .center .content img.banner {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top, .subnav h1, .text h1, .img h1, .button h1, .form h1, .subnav h3, .text h3, .img h3, .button h3, .form h3, .img img {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .link h5, .button p.link, .main .content .section img, .main .content .main img, .container-setup, .subnav, .text, .img, .button, .form {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.banner .center {
  padding: 30px 0 0;
}
.banner .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
.banner .center .content img.banner {
  width: 900px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-top: 4px solid #b56c24;
}

#banner-bottom {
  position: relative;
  top: -2px;
  width: 900px;
  height: 25px;
  margin: 0 auto;
  background: url(/images/stripe.jpg) repeat;
}

.body {
  position: relative;
  width: 100%;
  margin: 30px auto;
}
.body .center {
  padding: 0;
}
.body .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
}

.sidebar {
  position: relative;
  clear: none;
  width: 280px;
}

.sidebar.left {
  display: inline;
  float: left;
  margin: 0 30px 30px 0;
}

.sidebar.right {
  display: inline;
  float: right;
  margin: 0 0 30px 30px;
}

.subnav h1, .text h1, .img h1, .button h1, .form h1 {
  position: relative;
  color: #603913;
  background: transparent;
  width: 220px;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}
.subnav h3, .text h3, .img h3, .button h3, .form h3 {
  position: relative;
  color: black;
  background: transparent;
  width: 220px;
  margin: 0 auto 15px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: none;
  text-align: left;
}

.link {
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 11px;
  border-bottom: 1px dotted #dddddd;
}
.link:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}
.link h5 {
  display: block;
  position: relative;
  display: inline;
  float: left;
  clear: left;
  top: 5px;
  width: 7px;
  height: 7px;
  background: #8c6545;
  font-size: 11px;
  text-align: center;
}
.link p {
  display: block;
  display: inline;
  float: left;
  clear: right;
  width: 200px;
  margin: 0;
  padding: 0 0 0 1em;
  font-size: 12px;
}
.link p a {
  font-size: 12px;
  color: #8c6545;
}
.link p a:hover {
  color: #8c6545;
  text-decoration: none;
}

.text p, .img p {
  width: 220px;
  margin: 0 auto 15px;
  padding: 0;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.2em;
}
.text p:last-child, .img p:last-child {
  margin-bottom: 15px;
}

.button p.link {
  position: relative;
  width: 232px;
  margin: 0 auto 15px;
  padding: 0;
  color: white;
  text-align: center;
  border: 1px solid #603913;
}
.button p.link a {
  display: block;
  margin: 0;
  padding: 6px 2em 7px 2em;
  color: white;
  font-size: 11px;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
}

.form iframe {
  width: 220px;
  margin: 0 30px;
}

.img {
  overflow: hidden;
}
.img img {
  width: 280px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 6px solid #8c6545;
}
.img #image-bottom {
  position: relative;
  top: -2px;
  width: 280px;
  height: 25px;
  margin: 0 auto;
  background: #603913;
}

.main {
  position: relative;
  display: inline;
  float: left;
  width: 584px;
}
.main .content {
  position: relative;
  width: 584px !important;
}
.main .content .section, .main .content .main {
  position: relative;
  padding: 0 0 30px 0;
  background: white;
}
.main .content .section img, .main .content .main img {
  display: inline;
  float: right;
  clear: none;
  width: 200px;
  height: 300px;
  margin: 0 0 15px 15px;
  z-index: 100;
}
.main .content .section h1, .main .content .main h1 {
  width: 369px;
  margin: 6px 215px 15px 0;
  padding: 0 0 0.2em 6px;
  color: #8c6545 !important;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #c6ae9b;
}
.main .content .section p, .main .content .main p {
  width: 584px;
  margin: 6px 0 10px 0;
  padding: 0 0 0 6px;
  color: #8c6545;
  font-size: 14px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.4em;
}
.main .content .section p:last-child, .main .content .main p:last-child {
  margin-bottom: 0;
}
.main .content .section p a, .main .content .main p a {
  color: #b56c24;
  text-decoration: none;
}
.main .content .section p a:hover, .main .content .main p a:hover {
  color: #603913;
}
.main .content .section ul, .main .content .main ul {
  width: 584px;
  margin: 6px 0 10px 0;
  padding: 0 0 0 6px;
  color: #8c6545;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  line-height: 1.4em;
  list-style-type: disc !important;
  list-style-position: outside;
}
.main .content .section ul li, .main .content .main ul li {
  margin: 0 0 0 20px;
  padding: 0 60px 0 0;
}

p.left {
  text-align: left !important;
}

.container-setup, .subnav, .text, .img, .button, .form {
  position: relative;
  display: inline;
  float: left;
  clear: both;
  width: 280px;
  margin: 0 0 30px 0;
  background: #c6ae9b;
  border: 1px solid #dddddd;
  z-index: 20;
}

.columns {
  width: 100%;
}
.columns .colL {
  position: relative;
  display: inline;
  float: left;
  clear: left;
  width: 277px;
  margin: 0 30px 0 0;
}
.columns .colR {
  position: relative;
  display: inline;
  float: left;
  clear: right;
  width: 277px;
  margin: 0;
}

.spacer {
  width: 584px;
  margin-bottom: 30px;
}

.no-image h1, .no-image p {
  width: 584px !important;
  margin-left: 0 !important;
}
