.font-helvetica, .font-base, .caption h1, .image-slider .center .captionLeft h1, .image-slider .center .captionRight h1, .caption h3, .image-slider .center .captionLeft h3, .image-slider .center .captionRight h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.font-trajan {
  font-family: "Trajan Pro", "Trajan", "Georgia", "Times New Roman", times, serif;
}

.bg-gradient-primary, .caption p.link, .image-slider .center .captionLeft p.link, .image-slider .center .captionRight p.link {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#1a3c8b), to(#0a1735));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #1a3c8b, #0a1735);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse, .caption p.link:hover, .image-slider .center .captionLeft p.link:hover, .image-slider .center .captionRight p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#0a1735), to(#1a3c8b));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #0a1735, #1a3c8b);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d4d4d4));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eeeeee, #d4d4d4);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
}

.corner-top-left {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right, .image-slider .center .captionLeft {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left, .image-slider .center .captionRight {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .caption p.link, .image-slider .center .captionLeft p.link, .image-slider .center .captionRight p.link, .nivoSlider, .nivoSlider img, #slider-wrapper, #slider {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .image-slider .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}

.box, .center-container, .image-slider .center, .image-slider, .caption, .image-slider .center .captionLeft, .image-slider .center .captionRight, .caption h1, .image-slider .center .captionLeft h1, .image-slider .center .captionRight h1, .caption h3, .image-slider .center .captionLeft h3, .image-slider .center .captionRight h3, .caption p.link, .image-slider .center .captionLeft p.link, .image-slider .center .captionRight p.link, .nivoSlider, .nivoSlider img, #slider-wrapper, #slider {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #0a1735 !important;
  font-weight: bold;
}

.font-helvetica, .font-base, .caption h1, .image-slider .center .captionLeft h1, .image-slider .center .captionRight h1, .caption h3, .image-slider .center .captionLeft h3, .image-slider .center .captionRight h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.font-trajan {
  font-family: "Trajan Pro", "Trajan", "Georgia", "Times New Roman", times, serif;
}

.bg-gradient-primary, .caption p.link, .image-slider .center .captionLeft p.link, .image-slider .center .captionRight p.link {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#1a3c8b), to(#0a1735));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #1a3c8b, #0a1735);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary-light, endColorstr=$primary);
}

.bg-gradient-reverse, .caption p.link:hover, .image-slider .center .captionLeft p.link:hover, .image-slider .center .captionRight p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#0a1735), to(#1a3c8b));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #0a1735, #1a3c8b);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$primary, endColorstr=$primary-light);
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d4d4d4));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #eeeeee, #d4d4d4);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$secondary-light, endColorstr=$secondary);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
}

.corner-top-left {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-top-right {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-top {
  -moz-border-radius-topleft: 6px;
  -khtml-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.corner-right, .image-slider .center .captionLeft {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 6px;
  -khtml-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.corner-left, .image-slider .center .captionRight {
  -moz-border-radius-topright: 6px;
  -khtml-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.corner-all, .caption p.link, .image-slider .center .captionLeft p.link, .image-slider .center .captionRight p.link, .nivoSlider, .nivoSlider img, #slider-wrapper, #slider {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.image-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.image-slider .center {
  padding: 30px 0 15px;
}
.image-slider .center .captionLeft {
  left: 0;
}
.image-slider .center .captionRight {
  right: 0;
}

.caption, .image-slider .center .captionLeft, .image-slider .center .captionRight {
  position: absolute;
  width: 500px;
  top: 100px;
  margin: 0;
  padding: 12px 24px;
  background: url(/images/nav_bg2.png) repeat;
}
.caption h1, .image-slider .center .captionLeft h1, .image-slider .center .captionRight h1 {
  margin: 0 0 6px 0;
  padding: 0;
  color: #efefef;
  font-size: 30px;
  font-weight: 100;
  text-align: left;
  line-height: 1em;
}
.caption h3, .image-slider .center .captionLeft h3, .image-slider .center .captionRight h3 {
  position: relative;
  top: 0px;
  margin: 15px 0 6px 0;
  padding: 0;
  color: #efefef;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  line-height: 1.1em;
}
.caption p.link, .image-slider .center .captionLeft p.link, .image-slider .center .captionRight p.link {
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: white;
  border: 1px solid #0a1735;
}
.caption p.link a, .image-slider .center .captionLeft p.link a, .image-slider .center .captionRight p.link a {
  font-family: "EmbedFont-1";
  display: block;
  padding: 9px 2em 8px 2em;
  color: inherit;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

#slider-bottom {
  width: 900px;
  height: 25px;
  margin: 0 auto;
  background: url(/images/stripe.jpg) repeat;
}

.nivoSlider {
  position: relative;
  width: 900px;
  height: 300px;
  border: 1px solid #dddddd;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 300px;
}

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

.nivo-caption {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  color: black;
  opacity: 0.8;
  width: 100%;
  z-index: 8;
}

.nivo-caption p {
  padding: 5px;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

.nivo-directionNav {
  width: 900px;
  margin: 0;
  padding: 0;
}

.nivo-directionNav a {
  position: absolute;
  top: 85%;
  z-index: 9;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background: url(/images/nivo/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

a.nivo-prevNav {
  left: 15px;
}

a.nivo-nextNav {
  right: 15px;
  background-position: -30px 0;
}

.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: bold;
}

#slider-wrapper {
  font-family: "EmbedFont-1";
  position: relative;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  background: #efefef;
}

#slider {
  position: relative;
  width: 900px;
  height: 300px;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#slider a {
  border: 0;
  display: block;
}

.nivo-controlNav {
  position: absolute;
  left: 260px;
  bottom: -42px;
}

.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(/images/nivo/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

.nivo-controlNav a.active {
  background-position: 0 -22px;
}

.nivo-caption {
  position: absolute;
  top: 0;
  height: 300px;
}

.nivo-caption {
  text-shadow: none;
}

.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}
