- @sub0 = ["Board Certified", "/cert"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}
      #banner-bottom



.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Jerald K. Graber
          %h3
            Attorney at Law
            %br
            Board Certified Criminal Lawyer
          %p 
            917 Franklin, Suite 510
            %br
            Houston, Texas  77002
          %p
            713-224-2323
            %br
            713-227-9900 (fax)
            %br
            713-202-3322 (cell)
            %br
            %a{:href => "mailto:graberlaw@sbcglobal.net"}graberlaw@sbcglobal.net
      

      .main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p Jerald Graber is Board Certified in Criminal Law by the Texas Board of Legal Specialization.  Board Certification is a mark of excellence and a distinguishing accomplishment.  Within the Texas legal community, Board Certification means an attorney has substantial, relevant experience in a select field of law and has demonstrated special competence in that area of law. 
            %p There are more than 70,000 attorneys licensed to practice in Texas. Only about 1,000 are Board Certified in Criminal Law.  Board Certified lawyers are set apart as being attorneys with the highest public commitment to excellence in their area of law.  
            %p Few Texas attorneys have answered the challenge laid down by the Supreme Court of Texas and the State Bar of Texas to become Board Certified, and thus "...serve the public interest and advance the standards of the legal profession."  When facing criminal charges, you want an attorney who has answered that challenge, an attorney like Jerald Graber.
            