- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
      #caption1.nivo-html-caption
        .captionLeft
          %h1
            Steady, Fast, Reliable.
          %h3 Steadfast offers an aggressive, responsible and streamlined operation to optimize collections.

.body
  .center
    .content
      .main
        .content
          .section.no-image
            %h1 Our Company
            %p Steadfast is a full-service medical practice management firm. Steadfast has proudly supported doctors in the health care industry for over 2 decades, and our company is unique in that we focus on specialty billing and collections, or medical charges for procedures that go outside the scope of the regular office visit: Neurology, medical oncology, cardiology, orthopaedic and spine surgery represent our core clientele.
            %p Creating a truly strong and efficient medical practice that is successful in volumes and accounts receivables is our specialty, and we offer complete end-to-end physician billing and claims processing solutions that go far beyond what most other companies are able to offer in the medical world. We have recently expanded our services into Ambulatory Surgical Center billing.  