- @sub0 = ["Our Company", "/company"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}
      #banner-bottom



.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Mission Statement
          %h3
      

      .main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p Steadfast has proudly supported doctors in the health care industry for over 2 decades, and building a strong and efficient medical practice that is successful in volumes and accounts receivables is our end result.  