- @sub0 = ["Our Company", "/company"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner.jpg"}



.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Contact Us
          %p
            Thomas Nguyen
            %br
            Director of Operations
          / %p
          /   %sup PHONE
          /   %br
          /   111-111-1111
          %p
            %sup EMAIL
            %br
            %a{:href => "mailto:tom@steadfastmed.com"} tom@steadfastmed.com
          %p &nbsp;
          %p
            Christina Sulien
            %br
            Public Relations
          %p
            %sup PHONE
            %br
            713-392-1617
          %p
            %sup EMAIL
            %br
            %a{:href => "mailto:christina@steadfastmed.com"} christina@steadfastmed.com
      

      .main
        .content
          .section.no-image
            %h1 Our Philosophy
            %p At Steadfast, we believe that every practice should be taken to its most optimal operating state, and that as a doctor, you should be able to focus on providing excellent patient care. We believe in implementing the right process, and then applying excellent process management. Through operations analysis, accurate billing and collecting procedures and expert and current coding knowledge, we are able to launch every practice to a new level of optimal prosperity. Most importantly, implementing our techniques allow our physician clients to focus on their key priorities without getting tangled up in compliance laws, regulations and processes. From practice start-up and marketing to persistence on denied claims, we offer expertise and technical knowledge supported by years of "hands on" experience that is unrivaled in the industry when it comes to management and reimbursement.

          .section.no-image
            %h1 Our Mission
            %p Steadfast is an A to Z firm: From choosing your practice's location and becoming credentialed to maximizing financial goals, our mission is to help your practice reach its most optimal operating state. We are here to bring strong and working solutions every step of the way. Whether it is coding, billing, collections or accounts receivables management, we stay educated and abreast the current medical industry's changes to ensure that your operations are always the very best that they can be so that you can keep your attention upon providing quality and uninterrupted patient care.

          .section.no-image
            %h1 Our Abilities
            %p On average, we increase a physician's revenue by 60 percent. When our collections are consistently in the 95 percent range, our clients do not have to worry about how to reduce operating expenses with the concern of sacrificing quality to their patients. Our integrated processing technique makes the entire billing and claims process more efficient, thereby preventing and reducing errors at the very beginning of the process so that physicians save time. In the beginning phase of our process management, our clients' revenue increases through more claims being processed and less ending up being rejected. With claims moving through swiftly and consistently, maximized returns on claims, and less days in accounts receivables our physicians are able to experience optimal operating states.

          .section.no-image
            %h1 Services
            %p We offer services tailored to the needs of each of our clients, from a single practitioner to large, multi-specialty physician groups and ambulatory surgical facilities. We have years of expertise and resources to maximize physician reimbursement.

          .section.no-image
            %h1 Services
            %p
              &ordm; Practice start-up
              %br
              &ordm; Business development & marketing
              %br
              &ordm; Compliance development and management
              %br
              &ordm; Credentialing
              %br
              &ordm; Practice operations assessment and analysis
              %br
              &ordm; Creating & discovering new profit locations
              %br
              &ordm; ASC management and billing
              %br
              &ordm; Specialty practice management for the following fields:
              %br
              &nbsp; &nbsp; neurology, oncology, cardiology, orthopaedic surgery, spine surgery