- @sub0 = ["Services", "/services"]
- @sub1 = ["sss", "sss"]
- @sub2 = ["sss", "sss"]


- @title = " | "+@sub0[0]
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}
      #banner-bottom



.body
  .center
    .content
      #two.sidebar.right
        .img
          %h1 Jerald K. Graber
          %h3
            Attorney at Law
            %br
            Board Certified Criminal Lawyer
          %p 
            917 Franklin, Suite 510
            %br
            Houston, Texas  77002
          %p
            713-224-2323
            %br
            713-227-9900 (fax)
            %br
            713-202-3322 (cell)
            %br
            %a{:href => "mailto:graberlaw@sbcglobal.net"}graberlaw@sbcglobal.net
      

      #two.main
        .content
          %a{:name => @sub0[1]}
          .section.no-image
            %h1=@sub0[0]
            %p
              Business Development & Marketing
              %br
              Credentialing
              %br
              Practice structure & operations
              %br
              Workflow Analysis
              %br
              Creating & Discovering new profit locations
              %br
              Billing & Coding